[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[user]
	name = Yaroslav Lyakh
	email = l_yara@bigmir.net
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
	co = checkout
	lg = log --oneline --graph --all --decorate 
	last = log -1 HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	edit-local = config --local --edit
# see  https://stackoverflow.com/questions/25356810/git-how-to-squash-all-commits-on-branch	
	reset-2-master = "!git reset $(git merge-base master $(git branch --show-current))"

[push]
	default = simple
